<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>timestamp</title>
    <link rel="stylesheet" href="./css/uikit.min.css">
    <link rel="stylesheet" href="./css/uikit-rtl.min.css">
</head>
<body>
    <header>
        <h1 class="uk-heading-primary">timestamp</h1>
    </header>
    <hr />
    <main>
        <ul uk-accordion>
            <li>
                <a class="uk-accordion-title" href="#">Setting</a>
                <div class="uk-accordion-content uk-form-controls-text" id="selection">
                    <div>
                        <input class="uk-input uk-width-1-6" type="text" placeholder="項目名" v-model="itemName">
                        <button class="uk-button uk-button-primary" v-on:click="add">Add</button>
                        <input class="uk-input uk-width-1-6" type="text" placeholder="検索" v-model="search">
                        <div>{{ msg }}</div>
                    </div>
                    <hr />
                    <div class="uk-child-width-auto" uk-grid>
                        <label class="" v-for="x in filter(options)">
                            <div>
                                <input type="checkbox" class="uk-checkbox" v-model="x.Checked" v-on:change="save()"/> {{ x.Name }}
                                <span> </span>
                                <button class="uk-button uk-button-default" v-on:click="remove(x)">削除</button>
                            </div>
                        </label>
                    </div>
                </div>
            </li>
            <li>
                <a class="uk-accordion-title" href="#">Today</a>
                <div id='app' class="uk-accordion-content uk-form-controls uk-child-width-auto">
                    <select class="uk-select" v-model="type">
                        <option v-for='x in filterSelection(selection.model.options)'>
                            {{ x.Name }}
                        </option>
                    </select>
                    <input type="text" class="uk-input uk-width-1-4" v-model="input" placeholder="memo"/>
                    <button class="uk-button uk-button-primary" v-on:click='addItem' >Add</button>
                    <div>{{ msg }}</div>
                    <hr />
                    <ol>
                        <li class="uk-child-width-auto" v-for='x in filterLogs(Logs)'>
                            <input type="text" class="uk-input" v-model="x.Time" readonly />
                            <select v-model="x.Type" class="uk-select" v-on:change="app.model.methods.save()">
                                    <option v-for="item in selection.model.options">{{ item.Name }}</option>
                            </select>
                            <input type="text" class="uk-input" v-model="x.Memo" v-on:change="app.model.methods.save()" />
                            <button class="uk-button uk-button-danger" v-on:click='removeItem(x)'>Remove</button>
                        </li>
                    </ol>
                </div>
            </li>
            <li>
                <a class="uk-accordion-title" href="#">History</a>
                <div class="uk-accordion-content">
                    <button class="uk-button uk-button-secondary">CSV Download</button>
                    <hr />
                    <div id="history">
                        <div>
                            <label>全{{ Logs.length }}件中<input class="uk-input uk-width-1-6" type="number" v-model="ShowCount" /> 件表示</label>
                        </div>
                        <div>
                            <input class="uk-input uk-width-1-4" v-model="search" type="text" placeholder="検索" />
                        </div>
                        <ol>
                            <li v-for='x in filter(Logs)' class="uk-child-width-auto">
                                <input type="text" class="uk-input" v-model="x.Time" />
                                <select v-model="x.Type" class="uk-select" v-on:change="app.model.methods.save()">
                                    <option v-for="item in selection.model.options">{{ item.Name }}</option>
                                </select>
                                <input type="text" class="uk-input" v-model="x.Memo" v-on:change="app.model.methods.save()" />
                                <button class="uk-button uk-button-danger" v-on:click='removeItem(x)'>Remove</button>
                            </li>
                        </ol>
                    </div>
                </div>
            </li>
            <li>
                <a class="uk-accordion-title" href="#">説明</a>
                <div class="uk-accordion-content uk-form-controls-text">
                    <span>毎日のタイムスタンプのお供に．</span><br />
                    <span>Setting: タイムスタンプを押す時の種別(通勤時)等の設定</span><br />
                    <span>Today: 今日のタイムスタンプ．コンボボックスで種別を選んでADD!</span><br />
                    <span>History: 今までのタイムスタンプ．CSVでダウンロードもここから(と思ったけど未実装．欲しくなったら作る)</span><br />
                    <br />
                    その他: HTML/Javascriptのみなのでデータはブラウザ側に保存されます．

                </div>
            </li>
        </ul>
    </main>
    <script src="./js/uikit.min.js"></script>
    <script src="./js/uikit-icons.min.js"></script>
    <script src="./js/vue.min.js"></script>
    <script>
        var exports = {"__esModule": true};
        var require = eval;
        vue = Vue;
    </script>
    <script src="./js/index.js"></script>
</body>
</html>